<div class="book-recommend-modal mt50">

    <div class="row mt30">
        <div class="col-lg-12">
            <label for="book-name-input"> Book Name </label>
            <input id="book-name-input" type="text" class="modal-input" spellcheck="false">

            <div class="book-input-items" id="book-input-items">

            </div>
        </div>
    </div>

    <div class="row mt20">
        <button class="recommend-button" id="recommend-button">
            Recommend to Me
        </button>

    </div>
</div>

<div class="book-recommendations mt30" id="book-recommendations" style="display:none">

</div>