
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mails.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diet.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascriot" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='sleep_recommendation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='texts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mails.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='predict.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='todo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='diet.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='alarm.js') }}"></script>




</head>