<div class="row">
    <div class="col-lg-4">
        <div class="navigation">
            <div class="nav-block" id="msg-link">
                Messages
            </div>
            <div class="nav-block" id="mail-link">
                Mails
            </div>
            <div class="nav-block">
                Notes
            </div>
            <div class="nav-block" id="todo-link">
                To-Do
            </div>
            <div class="nav-block">
                Alarms
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="clock" id="calendar-link" onload="showTime()">
            <h5 id="clock"></h5>
            <h5 id="date"></h5>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="weather text-center mt10">
            <div class="weather-icon sun"></div>
                <h1 id="temp"></h1>
                <p>Istanbul</p>
        </div>
    </div>

     <div class="col-lg-4" style="margin-top:-80px">
        <div class="navigation">
            <div class="nav-block" id="diet-link">
                My Diet
            </div>
            <div class="nav-block" id="diary-link">
                Diary
            </div>
            <div class="nav-block" id="cal-link">
                Calendar
            </div>
        </div>


    </div>
</div>