<div class="recipe-recommendation-modal">
    <!--<div class="recipe-item">
        <div class="recipe-name">

        </div>

        <div class="recipe-picture" data-recipe-id="0">
            <img src="https://cdn.yemek.com/mncrop/940/625/uploads/2015/05/omlet-yemekcom.jpg">
        </div>

        <h3 class="recipes-sub-header">Ingredients</h3>

        <div class="recipe-ingredients">
        </div>

        <h3 class="recipes-sub-header">Directions</h3>

        <div class="recipe-directions">

        </div>


    </div>-->

</div>