/* Fonts */
.text-center{text-align:center !important}

.bold{font-weight:bold !important}

.letter-s-1{letter-spacing:1px}

.m-auto{margin:auto !important}

.fs-3r{ font-size: 3rem !important}

.mt10{margin-top: 10px !important}
.mt20{margin-top: 20px !important}
.mt30{margin-top: 30px !important}
.mt40{margin-top: 40px !important}
.mt50{margin-top: 50px !important}
.mt100{margin-top: 100px !important}

/* Margins */

.mb-1r{margin-bottom: 1rem}
.mb-2r{margin-bottom: 2rem}
.mb-3r{margin-bottom: 3rem}
.mt-2r{margin-top: 2rem}
.mt-3r{margin-top: 3rem}



/* Paddings */
.p0{padding: 0 !important}
.p8{padding: 8px}
.p10{padding: 10px}

.p1r{padding: 1rem;}

/* Borders */

.border-bottom-white{border-bottom:1px solid white}

/* Color */
.color-white{color: white !important}

input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}
button{
   outline:none !important;
}
button {
   border: 0;
}