*,html,body {
    /*margin-top:-5px !important; */

}
body{
    margin-left:200px;
    background-image: url("../img/a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black !important;
    padding: 0;
    margin: 0;
}


/* Oracle Animation */

.oracle-box{
    margin: auto;
    top: 36%;
    left: 42%;
    position: absolute;
    background: rgba(4, 177, 245, 0.171);
    border: 10px solid #7da6ca4b;
    border-top: 10px solid #0088ff3a;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    animation: turn 1s infinite linear;
    box-shadow: 10px 10px 10px -10px #275173
}
@keyframes turn {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.circle-1{
    background: rgba(42, 91, 148, 0.21);
    height: 225px;
    width: 225px;
    border-radius: 50%;
    margin: auto;
    border: 20px solid #0088ff31;
    border-top: 20px solid #0088ff8e;
    vertical-align: middle;
    top: 41%;
    left: 44.8%;
    position: absolute;
    animation: inside_turn 1s infinite ease;
    box-shadow: 10px 10px 10px -10px #507795;
}
@keyframes inside_turn{
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
.text-box{
    text-align: center;

    margin: auto;
    position: absolute;
    top: 48.8%;
    left: 46.6%;
    color: #4db1bc;
    animation: glow 1s ease-in-out infinite alternate;
    margin-left: 4px;
}
.text-box h1{
font-size: 2.2rem !important;
}
@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 45px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

/* Oracle Animation End */

/* Top Row */

.navigation{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: rgba(4, 177, 245, 0.171);
    height: 50px;
    display: table;
}
.navigation .nav-block{
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    display: table-cell;
    /*border-right: 5px solid #0c2333;*/
    /*transform: perspective(5px) rotateX(1deg);*/
    cursor: pointer;
    box-shadow: 0px 0px 6px #39627e;

}

.clock{
    height: 85px;
    width: 300px;
    padding-top: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(4, 177, 245, 0.575);
    background: rgba(4, 177, 245, 0.171);
    margin: auto;
    color: #17D4FE;
    font-size: 16px;
    font-family: Orbitron;
    letter-spacing: 4px;
    animation: glow-box 1s ease-in-out infinite alternate;
}
@keyframes glow-box {
    from {
      box-shadow: 0 0 5px #2d9da9;
    }
    to {
      box-shadow: 0 0 15px #34b3c1, 0 0 10px #4dbbc7;
    }
}

#clock{
    border-bottom: 1px solid #d4d6d617;
    padding-bottom: 6px;
}


.weather{
    width: 300px;
    background: rgba(4, 177, 245, 0.171);
    color: #17D4FE;
    height: 125px;
    float: right;
    border-radius: 35px;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    border: 1px solid #d4d6d617;
    animation: appear 500ms ease-out forwards;
    animation: glow-box 1s ease-in-out infinite alternate
}

.weather-icon {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    float: right;
    margin: 40px 40px 0 0;
    animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
    background: #FFCD41;
	border-radius: 50%;
	box-shadow: rgba(255,255,0,0.1) 0 0 0 4px;
    animation: light 1s ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
    from {
        box-shadow: #d4d6d617 0 0 0 10px;
    }
    to {
        box-shadow: #d4d6d617 0 0 0 17px;
    }
}
@keyframes weather-icon-move {
	50% {
        transform: translateY(-8px);
    }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.05)
  }
  75% {
    transform:scale(0.95)
  }
  100% {
   transform:scale(1)
  }
}

.footer-copyright{
    background: rgba(4, 177, 245, 0.171);
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    border-radius: 50px 50px 0 0;
}

#user-input{
    color: #4db1bc;
    animation: glow 2s ease-in-out infinite alternate;
}

.audio-stop{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #00000033;
    position: absolute;
    bottom: 1%;
    left: 0.4%;
    border: 1px solid #eaeaea2b;
}
