@keyframes glow-box {
    from {
      box-shadow: 0 0 5px #002560;
    }
    to {
      box-shadow: 0 0 15px #c3c3c33d, 0 0 10px #4a474752;
    }
}

.mails{
    height:800px;
    background-color: rgba(0, 0, 0, 0.23);
    border: 3px solid #4a474752;
    border-radius: 15px;
    animation: glow-box 1s ease-in-out infinite alternate;
}



.mail-sender{
    height: 800px;
    background-color: rgba(0, 0, 0, 0.23);
    border: 3px solid #4a474752;
    border-radius: 15px;
    animation: glow-box 1s ease-in-out infinite alternate;
}
