/* CAR AND HOUSE PRICE PREDICTION SYSTEM */
.predict_modal{
    z-index: 9000;
    background-color: rgba(58, 99, 123, 0.25);
    width: max-content;
    margin:auto;
    border-radius: 75px;
    margin: auto;
    box-shadow: 0px 0px 15px 0px #507795;
    text-align:center;
    padding:30px;
}
.predict-result{
    z-index: 9000;
    background-color: rgba(58, 99, 123, 0.25);
    width: max-content;
    border-radius: 75px;
    margin: auto;
    box-shadow: 0px 0px 15px 4px #507795;
    font-size:3rem;
    text-align:center;
    padding:30px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 4px 2px #212529;
}

.modal-input{
    border: none;
    background: none;
    border-bottom: 1px solid #225a8a70;
    width: 96%;
    margin-top: 5px;
    outline: 0;
    color: #ffffff;
}

.predict-button{
    width: 25%;
    text-align: center;
    margin: auto;
    background: #1e94ff40 !important;
    border: none !important;
    color: white !important;
    border-radius: 15px;
    padding: 8px;
}

body {
  padding: 1rem;
  color: hsla(215, 5%, 50%, 1);
}

.modal-radio-label {
  height: 100%;
  border: 2px solid hsla(202, 61%, 22%, 1);
  border-radius: 20px;
  padding: 0.6rem 2rem;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
}
.modal-radio:checked + .modal-radio-label {
  background: hsla(203, 66%, 9%, 0.65);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(202, 71%, 42%, 1);
  font-size:15px;
}
.modal-radio#control_05:checked + .modal-radio-label {
  background: red;
  border-color: red;
}

/* BOOK RECOMMENDATION SYSTEM */

.book-recommend-modal{
    z-index: 9000;
    background-color: rgba(58, 99, 123, 0.25);
    width: 80%;
    border-radius: 75px;
    margin: auto;
    box-shadow: 0px 0px 15px 0px #507795;
    text-align:center;
    padding:30px;

}
.book-input-items{
    display: none;
    max-height: 6rem;
    background-color: rgba(0, 0, 0, 0.23);
    border: 3px solid #4a474752;
    border-radius: 2px;
    border-top:0;
    animation: glow-box 1s ease-in-out infinite alternate;
    overflow: auto;
}
.book-input-item{
    font-weight: bold; border-bottom: 1px solid #203e51; border-radius: 7px;
    text-align: left; float: left; padding: 5px;
    width: 94%; margin: 5px; color: #ffffffbf;
}
.recommended-book-item{
    font-weight: bold; border-bottom: 1px solid #203e51; border-radius: 7px;
    text-align: left; float: left; padding: 5px;
    width: 94%; margin: 5px; color: #ffffffbf;
    display: list-item
}
.recommend-button{
    text-align: center; margin: auto; background: #1e94ff40 !important;
    border: none !important; color: white !important; border-radius: 15px;
    padding: 15px; font-weight: bold;
}
.book-recommendations{
    z-index: 9000;
    background-color: rgba(58, 99, 123, 0.25);
    width: 80%;
    border-radius: 75px;
        margin: auto;
    box-shadow: 0px 0px 15px 0px #507795;
    text-align:center;
    padding:30px;
    overflow: auto; height: 30rem;
}

/* WEATHER PREDICTON SYSTEM */

.weather-prediction-modal{
    z-index: 9000;
    background-color: rgba(58, 99, 123, 0.25);
    width: 80%;
    border-radius: 75px;
    margin: auto;
    box-shadow: 0px 0px 15px 0px #507795;
    text-align:center;
    padding:30px;

}

.weather-condition-icon{ font-size: 5rem !important; color:#192c37}
.weather-condition-svg{ height:7rem}


.weather-temps{ font-size: 2rem; font-weight: bold; color: #ffffff; margin-top: -1rem;}

.max-temp{ font-size: 3rem}

.weather-properties{font-size: 2rem; font-weight: bold; color: #c2c2c2}

/* RECIPE RECOMMENDATION SYSTEM */

.recipe-recommendation-modal{
    display:flex;
    height: 50rem;
    width: 100%;
    margin: 3rem 0;
    box-shadow: 0px 0px 15px 0px #507795;
    border-radius: 1rem;
    padding: 0 2rem;
}

.recipe-item{
    height:95%;
    width:33%;
    position: relative;
    margin: auto;
}
.recipe-name{
    color: #ffffff;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    margin: 1rem 0;
}
.recipe-picture{
    text-align:center;
}
.recipe-picture img{
    width: 60%;
    padding: 1r;
    padding: 1rem;
    height: 12rem;
}
.recipes-sub-header{
    color: #c9f1fbf2;
    margin: 1rem;
}


.ingredient{
    display:block;
    color: #c9f1fbf2;
    margin: 2rem 2rem;
}

.direction{
    display:block;
    color: #c9f1fbf2;
    margin: 1rem 2rem;
}