    <section>
        <div class="container-fluid">
            <div class="row mt30">
                <div class="col-lg-4">
                    <div class="alarm-list">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="text-center color-white p8">Alarms</h2>
                            </div>
                        </div>

                        <div class="alarms">

                        </div>

                    </div>

                </div>
                <div class="col-lg-4">


                </div>
                <div class="col-lg-4">
                    <div class="alarm-add">
                        <div class="row ">
                            <div class="col-lg-12">
                                <h2 class="text-center color-white p8 letter-s-1">Add Alarm</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                            </div>

                        </div>


                        <div class="row mt30">
                            <div class="col-lg-12 text-center">
                                <button onclick="add_alarm()" class="alarm-add-button">Add</button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>


            <div class="section-oracle">
                <div class="oracle-box">

                </div>
                <div class="circle-1" data-type="alarm">
                    <div class="half-background"></div>
                </div>
                <div class="text-box" data-type="alarm">
                    <h1>ORACLE</h1>
                </div>
            </div>
        </div>
    </section>
