<section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="meal-list">
                    <h3>Morning</h3>
                        Pilav - 300 KCal
                        Pilav - 300 KCal
                </div>
            </div>

            <div class="col-lg-4"></div>

            <div class="col-lg-4">

            </div>
        </div>


        <div class="section-oracle">
            <div class="oracle-box">

            </div>
            <div class="circle-1" data-type="diet">
                <div class="half-background"></div>
            </div>
            <div class="text-box" data-type="diet">
                <h1>ORACLE</h1>
            </div>
        </div>
    </div>

</section>