<section class="mt20">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="meals">
                            <div class="meal-header">
                                <h3 class="text-center">Morning</h3>
                            </div>
                            <div class="meal-list">
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="meals">
                            <div class="meal-header">
                                <h3 class="text-center">Afternoon</h3>
                            </div>
                            <div class="meal-list">
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt20">
                    <div class="col-lg-12">
                         <div class="meals">
                            <div class="meal-header">
                                <h3 class="text-center">Evening</h3>
                            </div>
                            <div class="meal-list">
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                                    <strong class="meal-item">Pilav - 300 KCal</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30 nutritional-bars">
                    <div class="col-lg-3">
                        <h3 class="nutritional-header">KCal</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-cal"></div>
                        </div>
                        <h4 class="nutrition-status">25/50g</h4>
                    </div>
                     <div class="col-lg-3">
                         <h3 class="nutritional-header">Protein</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-prot"></div>
                        </div>
                         <h4 class="nutrition-status">25/50g</h4>
                    </div>
                     <div class="col-lg-3">
                         <h3 class="nutritional-header">Carb</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-carb"></div>
                        </div>
                         <h4 class="nutrition-status">25/50g</h4>
                    </div>
                     <div class="col-lg-3">
                         <h3 class="nutritional-header">Fat</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-fat"></div>
                        </div>
                         <h4 class="nutrition-status">25/50g</h4>
                    </div>
                </div>


            </div>

            <div class="col-lg-4">

                <div class="calorie-need">
                    Your Daily Need <br>
                    <strong id="daily_kcal"></strong>
                </div>

                <div class="section-oracle">
                    <div class="oracle-box-diet">

                    </div>
                    <div class="circle-1-diet" data-type="diet">
                        <div class="half-background"></div>
                    </div>
                    <div class="text-box-diet" data-type="diet">
                        <h1>ORACLE</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="meal-add">
                            <div class="meal-add-header">
                                <h3> Morning </h3>
                            </div>

                            <div class="meal-add-body">
                                <input class="meal-add-input">

                                <button class="meal-add-button" id="add-morning-meal"> Add </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="meal-add">
                            <div class="meal-add-header">
                                <h3> Evening </h3>
                            </div>

                            <div class="meal-add-body">
                                <input class="meal-add-input">

                                <button class="meal-add-button" id="add-evening-meal"> Add </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-lg-12">
                        <div class="meal-get-recipes">
                            <div class="meal-get-recipes-header">
                                <h3>Get Meal Recipe</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
