<section class="mt20">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-4">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="meals">
                            <div class="meal-header">
                                <h3 class="text-center">Morning</h3>
                            </div>
                            <div class="meal-list morning-meals">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="meals">
                            <div class="meal-header">
                                <h3 class="text-center">Afternoon</h3>
                            </div>
                            <div class="meal-list afternoon-meals">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt20">
                    <div class="col-lg-12">
                         <div class="meals">
                            <div class="meal-header">
                                <h3 class="text-center">Evening</h3>
                            </div>
                            <div class="meal-list evening-meals">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30 nutritional-bars">
                    <div class="col-lg-3">
                        <h3 class="nutritional-header">KCal</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-kcal-bar"></div>
                        </div>
                        <h4 class="nutrition-status" id="nutrition-kcal"> </h4>
                    </div>
                     <div class="col-lg-3">
                         <h3 class="nutritional-header">Protein</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-prot-bar"></div>
                        </div>
                         <h4 class="nutrition-status" id="nutrition-prot"> </h4>
                    </div>
                     <div class="col-lg-3">
                         <h3 class="nutritional-header">Carb</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-carb-bar"></div>
                        </div>
                         <h4 class="nutrition-status" id="nutrition-carb"> </h4>
                    </div>
                     <div class="col-lg-3">
                         <h3 class="nutritional-header">Fat</h3>
                        <div class="nutritional-bar">
                            <div class="nutritional-bar-inside" id="nutritional-fat-bar"></div>
                        </div>
                         <h4 class="nutrition-status" id="nutrition-fat"> </h4>
                    </div>
                </div>


            </div>

            <div class="col-lg-4">

                <div class="calorie-need">
                    Your Daily Need <br>
                    <strong id="daily_kcal"></strong>
                </div>

                <div class="section-oracle">
                    <div class="oracle-box-diet">

                    </div>
                    <div class="circle-1-diet" data-type="diet">
                        <div class="half-background"></div>
                    </div>
                    <div class="text-box-diet" data-type="diet">
                        <h1>ORACLE</h1>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="meal-add">
                            <div class="meal-add-header">
                                <h3> Morning </h3>
                            </div>

                            <div class="meal-add-body">
                                <input class="meal-add-input" data-meal-id="" data-meal-gram="" data-type="morning" id="meal-morning">
                                <div class="meal-input-items" id="meal-input-items-morning">

                                </div>

                                <select class="gr-morning" class="mt20" style="width:100%">
                                    <option value="100">100g</option>
                                    <option value="75">75g</option>
                                    <option value="50">50g</option>
                                    <option value="25">25g</option>
                                </select>
                                <button type="button" class="meal-add-button" data-type="morning" id="add-morning-meal"> Add </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="meal-add">
                            <div class="meal-add-header">
                                <h3> Afternoon </h3>
                            </div>

                            <div class="meal-add-body">
                                <input class="meal-add-input" data-meal-id="" data-meal-gram="" data-type="afternoon" id="meal-afternoon">
                                <div class="meal-input-items" id="meal-input-items-afternoon">

                                </div>

                                <select class="gr-afternoon" class="mt20" style="width:100%">
                                    <option value="100" selected>100g</option>
                                    <option value="75">75g</option>
                                    <option value="50">50g</option>
                                    <option value="25">25g</option>

                                </select>

                                <button type="button" class="meal-add-button" data-type="afternoon" id="add-afternoon-meal"> Add </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt20">
                    <div class="col-lg-12">
                         <div class="meal-add">
                            <div class="meal-add-header">
                                <h3> Evening </h3>
                            </div>

                            <div class="meal-add-body">
                                <input class="meal-add-input" data-meal-id="" data-meal-gram="" data-type="evening" id="meal-evening">
                                <div class="meal-input-items" id="meal-input-items-evening">

                                </div>

                                <select class="gr-evening" class="mt20" style="width:100%">
                                    <option value="100" selected>100g</option>
                                    <option value="75">75g</option>
                                    <option value="50">50g</option>
                                    <option value="25">25g</option>

                                </select>

                                <button type="button" class="meal-add-button" data-type="evening" id="add-evening-meal"> Add </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt30">
                    <div class="col-lg-12">
                        <div class="meal-get-recipes">
                            <div class="meal-get-recipes-header">
                                <h3>Get Meal Recipe</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
