<!DOCTYPE html>
<html lang="en">

{% include 'partials/header.html' %}

<body>
    <section>
        <div class="container-fluid">
            {% include 'partials/navigation.html' %}

            <div class="section" id="mails-section" style="display:none">
                {% include 'mails.html' %}
            </div>

            <div class="section" id="todo-section" style="display:none">
                {% include 'todo.html' %}
            </div>

            <div class="section" id="alarm-section" style="display:none">
                {% include 'alarms.html' %}
            </div>

            <div class="section" id="messages-section" style="display:none">
                {% include 'messages.html' %}
            </div>

            <div class="section" id="diet-section" style="display:none">
                {% include 'diet.html' %}
            </div>

            <div class="section" id="stream-section" style="display:none">
                {% include 'stream.html' %}
            </div>

            <div class="section" id="video-section" style="display:none">
                {% include 'video.html' %}
            </div>

            <div class="section" id="film-library-section" style="display:none">
                {% include 'film_library.html' %}
            </div>

            <div class="section" id="index-section">
                <div class="oracle-box">

                </div>
                <div class="circle-1" data-type="index">
                    <div class="half-background"></div>
                </div>
                <div class="text-box" data-type="index">
                    <h1>ORACLE</h1>
                </div>
            </div>

            <!-- Modals -->

            <div class="section" id="calorie-section" style="display:none">
                {% include 'partials/calorie_modal.html' %}
            </div>

            <div class="section" id="book-section" style="display:none">
                {% include 'partials/book_recommendation.html' %}
            </div>

            <div class="section" id="weather-section" style="display:none">
                {% include 'partials/weather_prediction.html' %}
            </div>

            <div class="section" id="recipe-section" style="display:none">
                {% include 'partials/recipe_recommendation.html' %}
            </div>


        </div>
    </section>

    <!--<div data-video="BLqktDBIew8"
         data-autoplay="1"
         data-loop="1"
         id="youtube-audio">
    </div>-->


    {% include 'partials/footer.html' %}

    {% include 'partials/predict_modal.html' %}







</body>
</html>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

