<section>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4">
                <div class="messenger-messages">

                </div>

            </div>
            <div class="col-lg-4">


            </div>
            <div class="col-lg-4">
                <div class="wp-messages">

                </div>

            </div>
        </div>

        <div class="section-oracle">
            <div class="oracle-box">

            </div>
            <div class="circle-1" data-type="messages">
                <div class="half-background"></div>
            </div>
            <div class="text-box" data-type="messages">
                <h1>ORACLE</h1>
            </div>
        </div>
    </div>
</section>
