<div class="video-container">
    <div class="video-player">
        <video class="video" id="video" poster="">
            <source id="video_source" src="" type="video/mp4">
        </video>
        <div class="controls">
            <div class="white-bar">
                <div class="white-juice"></div>
            </div>
            <div class="music-buttons">
                <button id="play-pause" class="play">
                </button>

                <button id="fullscreen" class="fullscreen"></button>

            </div>

        </div>
    </div>
</div>
